#my-photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

#my-name{
    position: absolute;
    top: 0px;
    left: 360px;
    color: white;
    background: #4aaaa5;
    padding: 3px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#header{
    background: white;
    border-bottom:#cccccc solid 1px;
    height: 65px;
}

#navigation{
    float: right;
    padding: 20px;
}

.nav-color{
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#about{

}

#portfolio{

}

#contact{

}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.clear-box{
    clear: both;
}